.AppDemoWT .myCustomButton.sapMBtn {
  margin-right: 0.125rem
}

html[dir="rtl"] .AppDemoWT .myCustomButton.sapMBtn {
  margin-left: 0.125rem;
  margin-right: 0 
}
.AppDemoWT .myCustomText {
  font-weight: bold;
}